In [1]:
!rm -rf titanic-pandas-etl
!git clone https://github.com/alvaro679/titanic-pandas-etl.git
%cd titanic-pandas-etl
!pip install -r requirements.txt

Cloning into 'titanic-pandas-etl'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 14 (delta 0), reused 14 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (14/14), 30.84 KiB | 15.42 MiB/s, done.
/content/titanic-pandas-etl
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from -r requirements.txt (line 2)) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->-r requirements.txt (line 1)) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)

In [2]:
!python main.py

2026-02-06 19:36:03,937 - INFO - >>> Pipeline ETL Iniciado <<<
2026-02-06 19:36:03,937 - INFO - Leyendo archivo desde: /content/titanic-pandas-etl/data/raw/titanic.csv
2026-02-06 19:36:03,950 - INFO - Datos cargados. Filas: 891, Cols: 12
2026-02-06 19:36:03,951 - INFO - Transformando datos...

--- Muestra del Resultado ---
   PassengerId  Survived  Pclass Title  ...   Age  FamilySize  IsAlone   Fare
0            1         0       3    Mr  ...  22.0           2        0   7.25
1            2         1       1   Mrs  ...  38.0           2        0  71.28
2            3         1       3  Miss  ...  26.0           1        1   7.92
3            4         1       1   Mrs  ...  35.0           2        0  53.10
4            5         0       3    Mr  ...  35.0           1        1   8.05

[5 rows x 9 columns]
-----------------------------

2026-02-06 19:36:03,991 - INFO - Guardando CSV en: /content/titanic-pandas-etl/data/processed/titanic_clean.csv
2026-02-06 19:36:04,005 - INFO - ✅ Carga finalizada.
2026-02-06 19:36:04,005 - INFO - >>> Pipeline Finalizado con Éxito <<<

In [3]:
import pandas as pd
df = pd.read_csv("data/processed/titanic_clean.csv")
df.head()

,PassengerId,Survived,Pclass,Title,Sex,Age,FamilySize,IsAlone,Fare
0,1,0,3,Mr,male,22.0,2,0,7.25
1,2,1,1,Mrs,female,38.0,2,0,71.28
2,3,1,3,Miss,female,26.0,1,1,7.92
3,4,1,1,Mrs,female,35.0,2,0,53.10
4,5,0,3,Mr,male,35.0,1,1,8.05